body, html, #app {
  margin: 0;
  height: 100%;
}
.content {
  height: calc(100% - 45px); /* Subtract the height of the navbar from 100vh */
  min-height: 400px;
}
.content-with-footer {
  height: calc(100% - 90px); /* Subtract the height of the navbar and footer from 100vh */
  min-height: 400px;
}
.container-fluid {
  --bs-gutter-x: 40px;
}
.navbar {
  height: 45px;
  --bs-navbar-padding-y: 5px;
  --bs-navbar-brand-font-size: 16px;
  background-color: #F3F2EE;
}
.sticky-top-header {
  top: 100px;
}
.sticky-top-subheader {
  top: 150px;
}
.nav {
  --bs-nav-link-color: var(--bs-secondary-color);
  --bs-nav-link-hover-color: var(--bs-secondary-color);
}
.nav-tabs .nav-link.active {
  font-weight: bold;
}
.arrow-up::after {
  content: '\2191';
}

.arrow-down::after {
  content: '\2193';
}